.git
.gitignore
.github

.env
.env.*
!.env.example

docker-compose.yml
docker-compose.*.yml

Dockerfile
Dockerfile.*

vendor
node_modules

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

.phpunit.result.cache

.idea
.vscode

*.log
*.pem
*.key
*.crt
